<mat-toolbar color="primary"><mat-icon>account_balance</mat-icon>&nbsp;VirtualBank</mat-toolbar>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>list</mat-icon>Lista de Contas</ng-template>
        <mat-card>
            <table mat-table [dataSource]="contas" class="full-width">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> NOME </th>
                    <td mat-cell *matCellDef="let conta"> {{conta.nome}} </td>
                </ng-container>
                <ng-container matColumnDef="cpf">
                    <th mat-header-cell *matHeaderCellDef> CPF </th>
                    <td mat-cell *matCellDef="let conta"> {{conta.cpf}} </td>
                </ng-container>
                <ng-container matColumnDef="conta">
                    <th mat-header-cell *matHeaderCellDef> Nº CONTA </th>
                    <td mat-cell *matCellDef="let conta"> {{conta.conta}} </td>
                </ng-container>
                <ng-container matColumnDef="saldo">
                    <th mat-header-cell *matHeaderCellDef> SALDO R$ </th>
                    <td mat-cell *matCellDef="let conta"> {{conta.saldo}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colunas"></tr>
                <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
            </table>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>person_add</mat-icon>Adicionar</ng-template>
        <mat-card>
            <mat-card-title><mat-icon>person_add</mat-icon>&nbsp;Nova Conta</mat-card-title>
            <form [formGroup]="formulario" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" matInput placeholder="Digite o Nome" />
                </mat-form-field>
                
                <mat-form-field class="full-width">
                    <mat-label>CPF</mat-label>
                    <input formControlName="cpf" matInput placeholder="Digite o CPF" maxlength="11"/>
                </mat-form-field>    
                <div *ngIf="formulario.controls.cpf.errors && !formulario.controls.cpf.pristine">
                    <div *ngIf="formulario.controls.cpf.errors.required">CPF é obrigatório</div>
                </div>
            
                <mat-form-field class="full-width">
                    <mat-label>Valor de Entrada R$</mat-label>
                    <input type="number" formControlName="saldo" matInput placeholder="Digite o Valor" />
                </mat-form-field>
                <div *ngIf="formulario.controls.saldo.errors && !formulario.controls.saldo.pristine">
                    <div *ngIf="formulario.controls.saldo.errors.required">O valor de entrada é brigatório</div>
                </div>

                <br />

                <button mat-raised-button [disabled]="!formulario.valid" mat-button color="primary"><mat-icon>done</mat-icon> Salvar</button>

            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>